.lope {
    width: 110px;
    border-radius: 50%;
}

.spider {
    width: 200px;
    -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
    transform: rotate(25deg);
    /*float: right;*/
    position: absolute;
    left: 650px;
    top: 450px;
}

.borderless td {
    border: none !important;
}

.slide {
    background-image: url("../img/bg.jpg");
    background-repeat: repeat;
}

.jumbotron {
    opacity: 0.8;
    color: black;
}

.alert {
    opacity: 0.9;
    margin-bottom: 50px !important;
}

.large-text {
  font-size: 120px !important;
}

div.concept-text > p {
  font-size: 50px;
  /*color: red;*/
  font-weight: 900;
  line-height: 80px;
}

div.concept-text > p > span {
  font-size: 40px;
  /*color: black;*/
  font-weight: normal;
}

.img-inside {
  position: relative;
}


/* ref: http://cssdeck.com/labs/pure-css-tree-menu-framework */
.tree,
.tree ul {
  margin:0 0 0 1em; /* indentation */
  padding:0;
  list-style:none;
  color:#369;
  position:relative;
}

.tree ul {margin-left:.5em} /* (indentation/2) */

.tree:before,
.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

.tree li {
  margin:0;
  padding:0 1.5em; /* indentation + .5em */
  line-height:2em; /* default list item's `line-height` */
  font-weight:bold;
  position:relative;
}

.tree li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px solid;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:1em; /* (line-height/2) */
  left:0;
}

.tree li:last-child:before {
  background:transparent; /* same with body background */
  height:auto;
  top:1em; /* (line-height/2) */
  bottom:0;
}